{:paths ["src"]
 :deps {me.raystubbs.clj-arsenal/check {:mvn/version "0.0.2"}
        me.raystubbs.clj-arsenal/log {:mvn/version "0.0.1"}
        me.raystubbs.clj-arsenal/basis {:mvn/version "0.0.1"}}

 :aliases
 {:build
  {:deps {me.raystubbs.clj-arsenal/build {:mvn/version "0.0.5"}}
   :ns-default clj-arsenal.build}
  
  :dev
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.50.0"}
                criterium/criterium {:mvn/version "0.4.6"}
                org.clojure/data.fressian {:mvn/version "1.0.0"}
                com.taoensso/nippy {:mvn/version "3.4.2"}}
   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]
   :clj-arsenal.check/enabled true
   :clj-arsenal.check/ns-include-re "clj-arsenal[.]stream([.].+)?"}}

 :clj-arsenal.build/meta
 {:version "0.0.0"
  :name me.raystubbs.clj-arsenal/stream
  :license "The MIT License"
  :license-url "https://opensource.org/license/mit/"
  :pub-url "https://github.com/clj-arsenal/stream"
  :git-url "https://github.com/clj-arsenal/stream.git"}}
